.composto {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: baseline;
    background-color: #FFFFFF;
    width: 300px;
    min-height: fit-content;
    border-radius: 20px;
    padding: 15px;
    gap: 7px;
}

.composto .estado-num {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #0E7EAD;
    min-width: fit-content;
    max-width: max-content;
    height: fit-content;
    border-radius: 10px;
    font-weight: bold;
    color: white;
    padding-left: 2%;
    padding-right: 2%;
    gap: 2px;
}

.composto .estado-num p {
    margin: 3px;
}

.composto .horario {
    display: flex;
    flex-direction: row;
    width: fit-content;
    justify-content: space-evenly;
}

.composto .horario p{
    color: #6E6E6E;
}

.composto .titulo {
    color: rgb(54, 54, 235);
    font-weight: bold;
}

.composto p{
    margin: 0;
    font-weight: 700;
}

/*card simples*/

.simples {

}