.listacards {
    display: grid;
    padding: 10% 0 10% 0;
    width: 100%;
    height: fit-content;
    grid-template-columns: 1fr 1fr 1fr;
}

.itemlista {
    width: fit-content;
    justify-self: center;
    padding-bottom: 5rem;
}